body {
    text-align: center;
    background: #ff686b;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #ffa69e;
    text-align: center;
}

.about {
    text-align: center;
    background-color: #a5ffd6;
    margin: 5px;
    padding: 5px 5px;
    border-radius: 3.5%;
}

.projects { display:flex; flex-wrap:wrap; }
.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 5px 5px;
    background: #a5ffd6;
    border-radius: 10%;
}